body {
    background-image: url(../images/road.png);
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color:white;
    font-size:22px;
    overflow:hidden;
    margin:0px; padding:0px;
}

body * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

block{
    background-color: black;
    width: 800px;
    height: 100%;
    left: 1280px;
    z-index: 1;
}

background {
    background-image: url(../images/road.png);
    width: 1280px;
    height: 720px;
}

car {
    background-image: url(../images/car.png);
    width: 250px;
    height: 124px;
    z-index: 1;
}

bomb {
    background-image: url(../images/bomb100.png);
    width: 100px;
    height: 100px;
    z-index: 1;
}

explosion {
    background-image: url(../images/explosion.png);
    width: 100px;
    height: 100px;
    z-index: 1;
}

score{
    color:red;
    z-index: 2;
    left: 20px;
    top: 20px;
}

gameover{
    color: red;
    left: 520.5px;
    top: 325px;
    font-size: 50px;
    cursor: pointer;
}

health{
    color: red;
    left: 20px;
    top: 60px;
}

* {
    box-sizing: border-box;
}
